<!DOCTYPE html>
<html lang="en" ng-app="phonebook">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Phonebook</title>

  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsen/css/topcoat-mobile-onsen-ios7.css">
  <link rel="stylesheet" href="styles/phonebook.css"/>

  <script src="lib/onsen/js/angular/angular.js"></script>
  <script src="lib/onsen/js/onsenui.js"></script>
  <script src="js/phonebook.js"></script>
  <script src="js/config.js"></script>
  <script src="js/masterController.js"></script>
  <script src="js/categoriesController.js"></script>
  <script src="js/dataService.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

</head>

<body>
  <ons-screen>
  <ons-navigator
    title="Phones and CVs!"
    right-button-icon="fa fa-lg fa-bars">

    <ons-page class="center">
        <ons-button 
            ng-click="ons.navigator.pushPage('templates/_users.html')">
            Users
        </ons-button>
        <ons-button 
            ng-click="ons.navigator.pushPage('templates/_categories.html')">
            Categories
        </ons-button>
    </ons-page>
  </ons-navigator>  

  </ons-screen>
</body>

</html>
